{
  "plugins": [[
       "module:react-native-dotenv",
      {
        "moduleName": "@env",
        "path": ".env",
        "safe": false, // opcional
        "allowUndefined": true // opcional
      }
    ]]
}
